# Ignore micro buffers directory
micro/.config/micro/buffers
# Ignore matugen color files
waybar/.config/waybar/styles/matugen.css
btop/.config/btop/themes/matugen.theme
cava/.config/cava/themes/matugen
fuzzel/.config/fuzzel/themes/matugen.ini
hypr/.config/hypr/matugen.conf
kitty/.config/kitty/themes/matugen.conf
kitty/.config/kitty/current-theme.conf
kitty/.config/kitty/*.bak
yazi/.config/yazi/flavors/matugen.yazi/*.toml
