/*************************************************
 * Global defaults
 *************************************************/
* {
	color: @primary;
}


/*************************************************
 * Waybar container
 *************************************************/
#waybar {
	background-color: alpha(@surface_container, 0.5);
	transition: background-color 1s ease;
}

#waybar > box {
	margin: 4px;
	padding: 0 8px;
	background-color: transparent;
}


/*************************************************
 * Buttons
 *************************************************/
button {
	min-width: 16px;
	padding: 0 8px;
	border-radius: 16px;

	/* Optional future-proofing */
	transition: background-color 0.2s ease, color 0.2s ease;
}

button:hover {
	background-color: alpha(@primary, 0.2);
}


/*************************************************
 * Tooltips
 *************************************************/
tooltip {
	background-color: alpha(@surface_container, 0.7);
	border: 2px solid @outline_variant;
	border-radius: 10px;
}

tooltip > box {
	padding: 0 10px;
}

