/*************************************************
 * Global defaults
 *************************************************/
* {
	color: @primary;
	transition-property: color, background-color, border-color;
	transition:
		color 0.7s ease,
		background-color 0.7s ease,
		border-color 0.7s ease;
}


/*************************************************
 * Waybar container
 *************************************************/
#waybar {
	background-color: alpha(@surface_container, 0.5);
	transition: background-color 0.6s ease;
}

#waybar>box {
	margin: 4px;
	padding: 0 8px;
	background-color: transparent;
}


/*************************************************
 * Buttons
 *************************************************/
button {
	min-width: 16px;
	padding: 0 8px;
	border-radius: 16px;
	transition: color 0.25s ease, background-color 0.25s ease;
}

button:hover {
	background-color: alpha(@primary, 0.2);
}


/*************************************************
 * Tooltips
 *************************************************/
tooltip {
	background-color: alpha(@surface_container, 0.8);
	border: 2px solid @outline_variant;
	border-radius: 10px;
}

tooltip>box {
	padding: 0 10px;
}
