/*************************************************
 * GTK Reset
 * -----------------------------------------------
 * Reset all inherited GTK styles to ensure
 * Waybar renders exactly as defined by us.
 *************************************************/
* {
	all: initial;
}


/*************************************************
 * Design tokens
 * -----------------------------------------------
 * Fonts and colors must be loaded first so
 * all following layers can reference them.
 *************************************************/
@import "styles/fonts.css";
@import "styles/matugen.css";


/*************************************************
 * Base styling
 * -----------------------------------------------
 * Global defaults and shared component rules.
 *************************************************/
@import "styles/global.css";


/*************************************************
 * Layout & modules
 * -----------------------------------------------
 * Per-module structure and layout rules.
 *************************************************/
@import "styles/modules.css";


/*************************************************
 * States & interactions
 * -----------------------------------------------
 * Hover, warning, critical, active states.
 *************************************************/
@import "styles/states.css";

